 

.header {
    position: fixed;
    width: 100%;
    top: 0;    
  }
  
  .banner {
    background-image: url(https://parodiweb.es/wp-content/uploads/2021/04/801339-fondo.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
    width:  1600px;
    position: relative;
    margin-top: 70px;
  }
  
  .banner::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .button {
    margin: 0 !important;
    align-self: center;
    text-decoration: none;
    margin-top: 30px;
    padding: 15px 25px;
    background-color: #20bcd1;
    color: white;
    border: white;
    font-size: 14pt;
    letter-spacing: 2px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    transition: 0.5s;
  }
  
  .button:not(hover) {
    background-color: #c93939;
    transition: 0.5s;
  }
  
  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  