<div class="header">
  <div class="banner">
    <div class="banner-text">
      <h1>PRODUCTOS PERSONALIZADOS</h1>
      <p>Encuentra a tus productos favoritos!</p>
      <br />
      <br />
      <div style="display: flex;flex-direction: column;">
        <a class="button" style='padding: 20px' routerLink="/modulo-productos/productos">
          IR A PRODUCTOS
        </a>
        <br>
        <br>
        
        <a class="button" style='padding: 20px' routerLink="/login">
          INICIAR SESIÓN
        </a>
      </div>
    </div>
  </div>
</div>
