<div class="contenido" style="width: 100%;">
    <!-- Agrega los imports necesarios -->
    <mat-toolbar color="primary" class="fondoNavBar">
        <span class="navbar-brand ">
            <a routerLink="/home" style="color: white; font-weight: bold; text-decoration: none;">
                <h1>Productos</h1>
            </a>
        </span>

    </mat-toolbar>
    <div class="contenedor">
        <div>
            <a mat-button routerLink="/home" style="color: white;">
                Inicio
            </a>
        </div>
        <div>
            <a mat-button routerLink="/modulo-productos/productos" style="color: white;">
                Productos
            </a>
        </div>
    </div>

</div>