/* Header.css */

.fondoNavBar {
    background-color: #4e0101;    
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999; /* Se asegura de que el header esté en la parte superior */
}

.contenedor {
    background-color: #4e0101;
    display: flex;
    flex-direction: row;        
    margin-top: 17px;
    width: 100%;
    position: fixed;
    top: 24px;
    z-index: 9999; /* Se asegura de que el header esté en la parte superior */
}

.contenedor div {    
    margin: 0 10px;
}

.contenedor div a {    
    padding: 10px;
    text-decoration: none;
}

.contenedor div a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.mat-toolbar {
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;    
    background-color: #4e0101; /* Aplica el mismo color de fondo */
}

.mat-toolbar .navbar-brand {
    padding: 0;
    color: white;
    font-weight: bold;
    text-decoration: none; /* Evitar subrayado del enlace */
}

.mat-toolbar .navbar-brand h1 {
    margin: 0;
}

.mat-button {
    color: white;
    text-decoration: none; /* Evitar subrayado del enlace */
}

.mat-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.contenido{     
    margin-top: 20px;
    
}