.sigin {
    display: block;
  }
  
  .log{
    padding: 2%;
    height: auto;
  }
  
  .log-in {
    padding: 3%;
    border-radius: 10px;
    margin: 3%;
  }
  
  .text {
    display: grid;
    justify-items: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 3%;
  }
  
  .btn-home {
    color: rgb(255, 255, 255);
    background-color: #4E0101;
    width: 50%;
    transition: all 0.5s;
  }
  
  .btn-home:hover {
    color: #4E0101;
    background-color: whitesmoke;
    width: 51%;
    transition: all 0.5s;
  }
  
  .btn-dark{
    background-color: #4E0101;
  }
  
  @media (min-width: 600px) {
  
  
    .btn-home {
        color: rgb(255, 255, 255);
        background-color: #4E0101;
        width: 80%;
        transition: all 0.5s;
    }
  
    .btn-home:hover {
        color: #4E0101;
        background-color: whitesmoke;
        width: 82%;
        transition: all 0.5s;
    }
  
    .sigin {
        width: 100%;
        height: 43rem;
        display: flex;
        align-items: center;
    }
  
    .movil {
        display: none;
    }
  
    .welcome {
        width: 60%;
        height: 100%;
    }
  
    .text {
        display: grid;
        height: 100%;
        justify-items: center;
        align-content: center;
    }
  
    .log {
        display: flex;
        justify-content: center;
        width: 40%;
    }
  
    .log-in {
        border-radius: 10px;
        padding: 2%;
        margin: 2%;
        width: 80%;
        height: 50%;
    }
  
  }
  