.contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 60px 40px;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    width: 90%;    
     margin: auto;
  }