<div class="contenedor-principal">

    <h1>PRODUCTOS</h1>

    <div class="contenedor">
        <div class="card" *ngFor="let producto of productos; let i = index">
          <img [src]="producto.imagen" class="card-img-top" alt="{{ producto.descripcion }}">
          <div class="card-body">
            
            <div *ngIf="i%2==0">
              <h5 style="color: red;" class="card-title">{{ producto.descripcion }}</h5>
            </div>
            <div *ngIf="i%2!=0">
              <h5 style="color: blue;" class="card-title">{{ producto.descripcion }}</h5>
            </div>
            <p class="card-text">{{ producto.detalle }}</p>
            <p class="card-text">Precio: {{ producto.precio }}</p>
            <a href="#" class="btn btn-primary">Detalles</a>
          </div>
        </div>
      </div>
</div>