/* You can add global styles to this file, and also import other style files */
body{
    overflow-x: hidden;
    padding:0;
    margin:0;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }