<div class="producto-box">
    <img [src]="producto.imagen" alt="{{ producto.descripcion }}">
    <h2>{{ producto.descripcion }}</h2>
    <p>{{ producto.detalle }}</p>
    <p>Precio: {{ producto.precio }}</p>
  </div>